/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Nunito Sans", sans-serif;
}

.slick-slide:focus {
  outline: none;
}

.slick-track {
  display: flex;
}
nav .active li {
  color: black;
  font-weight: 600;
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: white;
    font-weight: 600;
  }
}

::-webkit-scrollbar {
  display: none;
}
